<section class="team">
  <div>
    <h2>OUR TEAM</h2>
    <p>
      Our team is made up of talented and passionate individuals who are
      committed to providing the best experience for our users. Each member
      brings a unique set of skills and expertise to the table, allowing us to
      work collaboratively and effectively to achieve our goals.
    </p>
    <ul>
      <li>
        <img class="" src="" />
        <div>
          <h3>David Pate</h3>
          <p>Managing Direcor</p>
        </div>
      </li>
      <li>
        <img />
        <div>
          <h3>Rachel Kim</h3>
          <p>Lead Designer</p>
        </div>
      </li>
      <li>
        <img />
        <div>
          <h3>Samantha Chen</h3>
          <p>Lead Developer</p>
        </div>
      </li>
      <li>
        <img />
        <div>
          <h3>Andrew Nguyen</h3>
          <p>Sr. UI Designer</p>
        </div>
      </li>
    </ul>
  </div>
</section>
